/*
    Global styling of the website
*/

/*aterisk mark on the forms*/
.required-mark,.required-label,.password-mismatch-label,#passwords-mismatch,.not-available{
    color:rgb(216, 19, 19);
}

#passwords-match,.available{
    color: rgb(101, 161, 10);
}

.passwords-exceed-label,.enter-original-password,.short-username{
    color: rgb(218, 151, 27);
}

img{
    width: 100%;
    object-fit: contain;
}

.cmn-btn,
.transparent-btn {
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #00aeef;
}

.cmn-btn {
    background-color: #00aeef;
    color: #fff;
}

.transparent-btn {
    color: #00aeef;
}

.transparent-btn:hover {
    color: #00aeef;
}

.cmn-btn:hover {
    background-color: transparent;
    color: #00aeef;
    border: 2px solid #00aeef;
    transition: .5s;
}

.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: relative;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: .75;
    max-height: 100%;
    z-index: 1;
}

/* header {
    background-color: #6c757d;
}

header .navbar-light .navbar-nav .nav-link{
    color: #ffffff;
} */

/* Header CSS */
header{
        position: sticky;
        z-index: 999;
        top: 0;
        background: white;
}

header .navbar-brand img {
    width: 9.5rem;
}

header .navbar {
    padding-left: 0;
    padding-right: 0;
}

.top-header a {
    color: rgb(80, 80, 80);
    font-size: 12px;
}

.material-icons {
    transform: translateY(20%);
    font-size: 12px;
    color: #00aeef;
}

.social-icons a {
    display: inline-block;
    font-size: 14px;
    padding: 0 5px;
}

.nav-item a,
.dropdown-menu {
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
}

.navbar ul li:not(li:last-child) {
    margin-right: .5rem;
}


/* HOME Page CSS */
.hero-banner{
    height: calc(80vh - 136px);
}

.hero-banner .container{
    position: relative;
    z-index: 10;
}

.hero-banner::before{
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(6, 6, 17, 0.3);
}

.banner-wrapper{
    background: linear-gradient(rgb(255, 255, 255), rgb(207, 207, 207));
    margin-top: 35px;
}

.banner-wrapper .home-banner img{
    padding: 20px 0px;
}

.home-banner{
    font-family: serif;
}

.home-banner h1{
    font-weight: 700;    
}


.home-banner .text-wrapper{
    width: 80%;
    margin-right: auto;
}

/* Registration Page CSS  */



.registration .registration-form-container {
     width: 40%;
     padding: 20px;
}

.registration-form-container label{
    width: 100%;
}

.registration-form-container input{
    width: 90%;
    margin-bottom: 16px;
}

.registration .registration-form-img-container{
    width: 60%;
    padding: 20px;
}