/* Global styling of the website */
ul {
    list-style: none;
    padding-left: 0;
}

h2,
h1 {
    margin: 0;
    padding-top: 30px;
}

img {
    width: 100%;
    object-fit: contain;
}

.w-60{
    width: 60%;
    margin: auto;
}


.cmn-btn{
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid #00aeef;
    background-color: #00aeef;
    color: #fff;
}

.cmn-btn:hover {
    background-color: transparent;
    color: #00aeef;
    border: 2px solid #00aeef;
    transition: .5s;
    text-decoration: none;
}

.parallax {
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.overlay {
    position: relative;
}

.overlay::before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to right, #2c455d, #00012c);
    opacity: .75;
    max-height: 100%;
    z-index: 1;
}


/*aterisk mark on the forms*/
.required-mark,
.required-label,
.password-mismatch-label,
#passwords-mismatch,
.not-available {
    color: rgb(216, 19, 19);
}

#passwords-match,
.available {
    color: rgb(101, 161, 10);
}

.passwords-exceed-label,
.enter-original-password,
.short-username {
    color: rgb(218, 151, 27);
}


/* Header CSS */
header {
    position: sticky;
    z-index: 999;
    top: 0;
    background: white;
}

header .navbar-brand img {
    width: 9.5rem;
}

header .navbar {
    padding-left: 0;
    padding-right: 0;
}

.top-header a {
    color: rgb(80, 80, 80);
    font-size: 12px;
}

.material-icons {
    transform: translateY(20%);
    font-size: 12px;
    color: #00aeef;
}

.social-icons a {
    display: inline-block;
    font-size: 14px;
    padding: 0 5px;
}

.nav-item a,
.dropdown-menu {
    font-weight: 500;
    text-transform: uppercase;
    color: black;
    font-size: 14px;
}

.navbar ul li:not(li:last-child) {
    margin-right: .5rem;
}


/* HOME Page CSS */
/* .hero-banner{
    height: calc(80vh - 136px);
} */

.hero-banner .container {
    position: relative;
    z-index: 10;
}

.hero-banner::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(6, 6, 17, 0.3);
}

.banner-wrapper {
    background: linear-gradient(rgb(255, 255, 255), rgb(207, 207, 207));
    margin-top: 35px;
}

.banner-wrapper .home-banner img {
    padding: 20px 0px;
}

.home-banner {
    font-family: serif;
}

.home-banner h1 {
    font-weight: 700;
}


.home-banner .text-wrapper {
    width: 80%;
    margin-right: auto;
}

/* Registration Page CSS  */



.registration .registration-form-container {
    width: 40%;
    padding: 20px 60px 30px 60px;
}

.registration h1 {
    margin-bottom: 20px;
    text-align: center;
}

form label {
    width: 100%;
}

form input,
form textarea {
    width: 100%;
    margin-top: 20px;
    margin-bottom: 5px;
    padding-left: 10px;
}

.registration .registration-form-img-container {
    width: 60%;
    padding: 20px;
}

form input::placeholder,
form textarea::placeholder {
    font-size: 14px;
}

/* CSS for Contact us form  */
.contact-us .registration .registration-form-container {
    width: 100%;
}

.parallax.contact-us {
    background-position: bottom;
}

/* CSS for cards */

.feature-cards {
    background-image: linear-gradient(to right, #69d6cb, #64bae7);
    border-radius: 10px;
    display: flex;
    height: 100%;
    flex-direction: column;
}

.feature-cards-img {
    height: auto;
    margin-bottom: 20px;
}

.feature-cards-img img{
    height: 130px;
}

.feature-cards h5 {
    font-weight: 600;
}

.feature-cards p {
    font-size: 15px;
}

.feature-cards .cmn-btn {
    width: max-content;
    margin: auto;
}























/* NEW CSS */


/* Header CSS */

header button {
    font-weight: 400 !important;
}

/* Home Page CSS  */
.hero-slider .slick-dots{
    bottom: -35px;
}

.hero-slider .slick-dots li button:before{
    font-size: 16px;
}

.hero-slider .slick-slide img {
    height: 500px;
    object-fit: cover;
}

.hero-slider .slick-slide {
    position: relative;
}

.hero-slider .inner-content h1 {
    padding: 0px;
    text-transform: uppercase;
    color: #36bbf4;
    font-weight: 700;
}

.hero-slider .slick-slide::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(6, 6, 17, 0.6);
}

.hero-slider .inner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 99;
}

.hero-banner .feature-cards a.cmn-btn:hover{
    background-color: #ffffff;
}

/* About CSS  */
.about span {
    font-size: 2.5rem;
}

.about h2 {
    font-size: 3rem;
}

/* CSS for Contact us page */

.contact-us .registration-form-container{
    background-color: rgba(108, 117, 125, 0.5);
}

.contact-us h1{
    text-transform: uppercase;
    font-weight: 700;
    color: #00aeef;
}

/* Registration page CSS  */
.registration-form{
    background-color: black;
}

.registration-form .registration-form-container{
    background-color: rgb(0 0 0 / 20%);
}

.registration-form form input{
    padding: 5px 5px 5px 10px;
}


/* CSS for gallery */
.img-gallery h1{
    font-size: 3.5rem;
}

.img-gallery .galleryWrapper{
	max-width: 800px;
	width: 100%;
	margin: auto;
}

.img-gallery .galleryWrapper .row .col-4{
	padding-left: 8px;
	padding-right: 8px;
	margin-bottom: 16px;
}

.img-gallery .galleryWrapper .img-area{
	overflow: hidden;
} 

.img-gallery .galleryWrapper .img-area:hover img{
	transform: scale(1.2);
}

.img-gallery .galleryWrapper .img-area img{
	-webkit-transition: all .5s ease;
	-moz-transition: all .5s ease;
	-ms-transition: all .5s ease;
	-o-transition: all .5s ease;
	transition: all .5s ease;
    height: 280px;
    object-fit: cover;
}

/* CSS for Testimonial slider */
.testimonial-slider.slick-dotted.slick-slider{
    margin-bottom: 0px;
}

.testimonial-slider .slick-dots{
    bottom: 50px;
}

.testimonial-slider .slick-slide img {
    height: 450px;
    object-fit: cover;
}

.testimonial-slider .slick-dots li button::before{
    color: white;
    opacity: 1;
    font-size: 20px;
} 

.testimonial-slider .slick-dots li.slick-active button::before{
    color: #00aeef;
}

.testimonial-slider .inner-content{
    width: 75%;
}

.testimonial-slider .inner-content h4{
    color: #fff;
}

/* CSS for About Us section */
.about-us img{
    height: 200px;
    width: 200px;
    border: 2px solid  #00aeef;
    border-radius: 50%;
    object-fit: cover;
}


/* CSS for footer */

footer .container {
    position: relative;
    z-index: 10;
    color: #ffffff;
    font-size: 14px;
}

footer p {
    line-height: 1.8;
}

footer a {
    color: #fff;
    font-size: 14px;
    display: block;
}

footer a:hover{
    color: #6fa1d6;
}

footer .material-icons {
    font-size: 16px;
}

footer ul li {
    margin-bottom: 17px;
}

footer ul li span:first-child {
    padding-right: 20px;
}

footer ul li span:nth-child(2n) {
    padding-left: 20px;
}

footer .quick-link ul li a {
    display: block;
}

footer .quick-link ul li {
    width: 100%;
}

footer .social-icons a:not(a:last-child) {
    margin-right: 10px;
}

footer form input {
    font-size: 12px;
    width: 100%;
    color: #000000;
    height: 40px;
    border: 1px solid #fff;
    margin: 0px;
}

footer form button {
    background-color: #00aeef;
    border: transparent;
    color: #fff;
    padding: 0 15px;
    position: absolute;
    z-index: 10;
    top: 0;
    right: 0;
    height: 100%;
}

footer form button:hover {
    background-color: #000;
}